@import './mixins';
@import './variables';
@import "../../node_modules/font-awesome/css/font-awesome.css";


* {
    color:red;
    font-family: 'Century Gothic', 'Arial', sans-serif;
}
#sidebar{
    background-color:black;
    height: 100vh;
    padding-top: 120px;
    position:static;
    width:100%;

    &::after{
        background-image: url(/assets/img/brush-side.png);
        content: ' ';
        height:100%;
        position:absolute;
    }

}