@import '~sass/variables';

footer{
    background-color: #000;
    padding-bottom:10px;
    padding-top:10px;

    p {
        color: #fff;
        font-family: 'Century Gothic', sans-serif;
        font-size:14px;

        span {
            color: red;
            font-size:12px;
        }
    }
}