<footer class="footer">
    <div class="container">
        <div class="d-sm-flex">
            <div class="col-12 col-sm-5 offset-md-4 col-md-2">
                <p>1253 Vine St # 9 <br />Los Angeles</p>
                <p>
                    <span>Monday:</span> 12pm - 12am<br>
                    <span>Tuesday:</span> 12pm - 12am<br>
                    <span>Wednesday:</span> 12pm - 12am<br>
                    <span>Thursday:</span> 12pm - 12am<br>
                    <span>Friday:</span> 12pm - 12am<br>
                    <span>Saturday:</span> 12pm - 12am<br>
                </p>
            </div>
            <div class="col-12 col-sm-5 col-md-2">
                <p>1263 Queen St W,<br />Toronto, ON</p>
                <p>
                    <span>Monday:</span> 12pm - 11pm<br>
                    <span>Tuesday:</span> 12pm - 11pm<br>
                    <span>Wednesday:</span> 12pm - 11pm<br>
                    <span>Thursday:</span> 12pm - 10pm<br>
                    <span>Friday:</span> 12pm - 12am<br>
                    <span>Saturday:</span> 12pm - 10pm<br>
                </p>
            </div>
        </div>
    </div>
</footer>