nav{
    background-image: url('/assets/img/header.png');
    background-position:center bottom;
    background-repeat: repeat-x;
    padding-bottom:20px;
    padding-top:20px;
    position: fixed;
    width: 100%;

    ul{
        list-style-type: none;
        margin-bottom:0;
        
        li{
            display: inline-block;
            @media screen and (min-width:576px){
                padding:0 10px;

            }
            a {
                color: #fff;
                font-family: 'Century Gothic', sans-serif;
                font-size:14px;
                
            }
        }
    }
}