nav{
    background-color: #000;
    background-image: url('/assets/img/brush-bottom.png');
    background-position:center bottom;
    background-repeat: repeat-x;
    padding-bottom:20px;
    padding-top:20px;
    position: fixed;
    width: 100%;
    z-index: 10;
    &:after{
        background-image: url(/assets/img/brush-bottom.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        bottom:-20px;
        content: ' ';
        height: 30px;
        left:0;
        position: absolute;
        width: 100%;
    }
    button{
        background-color:transparent;
        border: none;

        &:focus, &:active{
            border:none;
            outline: 0px solid transparent;

        }
        .fa{
            font-size:24px;
        }
    }
    

    ul{
        display: block;
        list-style-type: none;
        margin: 0 auto;
        padding:20px 0 0 0;
        @media screen and (min-width:992px){
            float:right;
            padding-top:0;
            text-align: right;
            margin-right: 0;
        }
        
        li{
            display: block;
            padding:10px;
            text-align: center;

            @media screen and (min-width:992px){
                display:inline-block;
            }
            a {
                color: #fff;
                font-family: 'Century Gothic', sans-serif;
                font-size:14px;
                
                &.active{
                    color: red;
                }
            }
        }
    }
}